/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .app-name {
   text-align: center;
   color:brown;
   font-size: 3rem;
 }

 .greetings {
   list-style-type: none;
   font-size: 1.8rem;
   margin: 0;
   padding: 0;
   text-align: center;
   color: rgb(12, 59, 12);
 }

 .greeting-btn {
   display: block;
   width: 200px;
   margin: 40px auto;
   text-align: center;
   background-color: #007bff;
   color: white;
   height: 40px;
   line-height: 40px;
   font-size: 2rem;
   font-weight: 700;
   border-radius: 10px;
   cursor: pointer;
 }
